fastapi
uvicorn
langchain
langchain-google-genai
langchain-pinecone
pinecone-client
python-multipart
pypdf
docx2txt
langgraph
python-dotenv
pandas
openpyxl
psycopg2-binary
sqlalchemy
langchain-text-splitters
langchain-community
requests
flashrank
python-pptx
pyjwt
cryptography
tenacity
langgraph-checkpoint-postgres
psycopg-pool
pdfplumber
pytesseract
pdf2image
python-docx
